@import 'styles/mixins';

.list {
  --columns: 1;
  --gap: var(--space-md);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
  list-style: none;
  margin: 0;
  padding: 0;

  @include xs-up() {
    --columns: 2;
  }

  @include sm-up() {
    --columns: 3;
    --gap: var(--space-xl);
  }

  @include md-up() {
    --columns: 4;
    --gap: var(--space-xxl);
  }

  @include lg-up() {
    --columns: 5;
  }

  @include xl-up() {
    --columns: 6;
  }
}
