@import 'styles/mixins';

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--space-xl);
  position: sticky;
  top: 1.2rem;
  z-index: 2;
  left: 100%;

  @include sm-up() {
    top: 1.4rem;
  }
}

.search {
  width: 16rem;
  border-radius: 0;

  @include sm-up() {
    width: 20rem;
  }
}
