@import 'styles/mixins';

.hero {
  background: var(--blue-600);
  color: var(--light-100);
  margin: calc(var(--space-md) * -1) calc(var(--space-xl) * -1) 0;
  padding: var(--space-xxl) var(--space-xl);

  @include sm-up() {
    display: flex;
    justify-content: space-between;
  }
}

.textWrapper p {
  margin-bottom: var(--space-sm);

  &:last-child {
    margin: 0;
  }
}

.title {
  font-size: var(--fs-xxl);
  line-height: 1;
  margin-bottom: var(--space-xl);

  @include sm-up() {
    font-size: var(--fs-xxxl);
  }
}

.image {
  height: 15rem;
  border: 0.2rem solid var(--grey-300);

  @include sm-up() {
    margin-left: var(--space-xl);
  }
}

.content {
  padding: var(--space-xl) 0;
}

.language:not(:last-child):after {
  content: ', ';
}

.boxWrapper {
  @include sm-up() {
    display: flex;
    justify-content: space-between;
  }
}

.infoBox {
  margin-bottom: var(--space-lg);

  @include sm-up() {
    flex: 1 1 auto;
    margin: 0 var(--space-lg) 0 0;

    &:last-child {
      margin: 0;
    }
  }
}
