.wrapper {
  padding: var(--space-xl);
  border-bottom: 0.2rem solid var(--red--500);
  text-align: right;
  background: var(--grey-300);
}

.number {
  font-size: var(--fs-xxl);
  font-weight: 600;
  margin-bottom: var(--space-xl);
}

.label {
  font-size: var(--fs-lg);
  margin: 0;
}
